@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "SupercellHeadline";
    src: url('../public/fonts/supercellheadline-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SupercellTextMedium";
    src: url('../public/fonts/Supercell-Magic\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .cloudImage {
  
   background-image: radial-gradient(transparent,black 90%);
  }